:root {
  --background: #ffffff;
  --foreground: #171717;
  --app-custom-primary-text-color: #e45618;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.innerHtmlCustomization {
  ul {
    padding: 20px;
  }
}

/* Hide Zoom In, Zoom Out, Expand, and Last Icon */
.react-doc-viewer .rdv-toolbar>div>*:nth-child(3),
/* Zoom In */
.react-doc-viewer .rdv-toolbar>div>*:nth-child(4),
/* Zoom Out */
.react-doc-viewer .rdv-toolbar>div>*:nth-child(5),
/* Expand */
.react-doc-viewer .rdv-toolbar>div>*:nth-child(6) {
  /* Last Icon */
  display: none !important;
}

/* Move Previous and Next Page Buttons */
.react-doc-viewer .sc-gFqAYk {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 40vh;
}

.react-doc-viewer .sc-feUYzb {
  align-self: flex-start;
  margin-top: -40px;
  color: #000;
}

.react-doc-viewer .sc-gEvDqW {
  display: none;
}

.react-doc-viewer #pdf-zoom-out {
  margin-top: -40px;
}

.react-doc-viewer #pdf-zoom-in {
  margin-top: -40px;
}

.react-doc-viewer #pdf-zoom-reset {
  display: none;
}

.react-doc-viewer #pdf-toggle-pagination {
  display: none;
}

.react-doc-viewer .rdv-toolbar button {
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.react-doc-viewer .rdv-toolbar button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.hiddenCanvasElement {
  display: none !important;
}